@font-face{
  font-family: MontSerrat;
    src: url(Montserrat/static/Montserrat-Light.ttf);
}

.App {
  margin: 0;
  padding: 0;
  font-family: MontSerrat;
}

.sessao_produtos{
    width: 100%;
    height: auto;
    margin: auto;
}

.container{
  width: 95%;
  height: 380px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  box-sizing: border-box;
}
